<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your order of <%= @product.name %></h1>
    <p>Thanks for shopping and have a great day!</p>
  </body>
</html>
